.bg-light{
    background-color:white !important;
}

.justify-content-end {
  -ms-flex-pack: end!important;
  justify-content: flex-end!important;
  margin:2%;
  margin-left: auto;
  margin-right: 2%;
}

.nav-item{
    margin:15px;
}


ul{
    font-family: Karla;
}
.navbar-brand{
  margin-left: 2rem;
}


.heroContainer {
  background-image: url(../images/heroBackground.png);
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 170px;
  padding-bottom: 170px;
  margin-bottom: 25px;
  margin-top: 25px;
  margin-left: 20%;
  margin-right: 20%;
}

  #name{
      font-family: Karla;
      font-weight: bold;
      font-size: 39px;
      text-align: center;
  }

  #digDesign {
    font-family: Montserrat;
    font-weight: 200;
    font-size: 22px;
    text-align: center;
    margin-left: 25%;
}

.arrowcontainer{
  display:none;
}

.arrow{
  display:none;
}




/*start Homework 18 Work Section css*/

.btn{
  font-family: 'Karla', sans-serif;
  font-weight: 400;
  background-color: #EFE9A4;
  border-color: #EFE9A4;
  color:black;
  
}

.workHeader{
  font-family: 'Karla', sans-serif;
  font-weight: 700;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 15px;
}

.card{
  min-width: 360px !important;
}


.workCard {
  display: flex;
  padding-top: 20px;
  padding-bottom: 0;
  padding: 1.5%;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: auto;
  margin-left: auto;
  max-width: 1000px;
}

.workTitle{
  font-family: 'Karla', sans-serif;
  font-weight: 700;
}

.workText{
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}

.card-body{
  margin-top: auto;
}



.logoBody{
  padding-top: 50px;
}

.rightAlignCard{
  display: flex;
  flex-direction: row;
}

.leftAlignCard{
  display: flex;
  flex-direction: row;
}

.mobileImage{
  display:none;
}

.desktopImage{

}

.wriImg{
  height: 370px;
  width: 390px;
}

.energyImg{
  height: auto;
  width: 390px;
}

.blossomImg{
  height: 370px;
  width: auto;
}

.logoImg{
  height: 130px;
  width: auto;
  margin-top: auto;
  margin-bottom: auto;
}

/*END HW 18 Work Section*/


@media only screen and (max-width: 600px) {
  #name{
    font-family: Karla;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
  }

  #digDesign{
    font-size: 18px;
  }


  #arrowImage{
    height:30px;
    width: 40px;
  }
  
  .arrow{
    position: absolute;
    left: 46%;
    right: auto;
    display: block;
    margin-top: 45px;
  }
  
  .bounceMe {
    animation: bounceArrow 1.2s infinite;
  }
  
  .arrowContainer{
    position:relative;
    display: block;
    width: 100%;
    height: 150px;
  }

  @keyframes bounceArrow {
    from {
      margin-top: 0px;
    }
    50% {
      margin-top: 7px;
    }
    to {
      margin-top: 0px;
    }
  }


  /*HW 18 Work Mobile START*/

  .workTitle{
      font-size: 20px;
  }

  .workText{
      font-size:14px;
  }

  .desktopImage{
    display:none
  }
  
  .mobileImage{
    display: block;
  }
}



/*HW 18 Work Mobile END/*







/*Below: Homework 17 Work Section CSS*/

/*
.workSection{
  margin-bottom:100px;
}

.work {
  font-family: Karla;
  font-size: 35px;
  text-align: center;
  margin-top: 130px;
  margin-bottom: 70px;
}

.workHeader{
    font-Family: Karla;
    font-size: 28px;
}

.workText{
    font-family: Montserrat;
    font-size: 14px;
}

button {
    font-family: Karla;
    background-color: #EFE9A4;
    border: none;
    padding: 8px;
    padding-right: 20px;
    padding-left: 20px;
    font-size: 15px;
}


#displayEnergydiv{
  margin-top:5px;
}

.wri {
  display: flex;
  flex-direction: row;
  margin-left: 15%;
  margin-top: 32px;
  margin-right: auto;
}

img {
    border-style: none;
    width: 380px;
    margin: 0;
    
}

.energy{
  display: flex;
  flex-direction: row;
  margin-left: 15%;
  margin-top: 130px;
  margin-right:auto;
}

.desktopEnergyDisplay{
  display: block;
}

.mobileEnergyDisplay{
  display: none;
}

.blossom {
  display: flex;
  flex-direction: row;
  margin-left: 15%;
  margin-top: 130px;
  margin-right: auto;
  align-items: baseline;
}

.workLeftText {
  display: inline-block;
  width: 430px;
  margin-top: 180px;
  padding-left: 2%;
  margin-left: 7%;
  margin-right: 2%;
}

.workRightText {
  text-align: right;
  display: inline-block;
  width: 430px;
  height: inherit;
  margin-top: 165px;
  padding-right: 6%;
  margin-right: 5%;
  
}

#blossomText{
  padding-left: 3%;
  margin-left: 7%;
}

.workTextContainer{
  display:flex;
}
*/





/*Below: Homework 17 Work CSS, MOBILE*/

/*
  .work {
    font-family: Karla;
    font-size: 28px;
    text-align: center;
    margin-top: 0px;
    margin-bottom: -80px;
}

  .wri {
    display: flex;
    flex-direction: column;
    margin-top: 130px;
    margin-left: auto;
    margin-right: auto;
  }

  .display {
    display: flex;
    margin-right: auto;
    margin-left: auto;
}

  .workLeftText {
    display: inline-block;
    width: 430px;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-right: 2%;
}

.blossom{
  display: flex;
  flex-direction: column;
  margin-right: auto;
  margin-left: auto;
}

.workRightText {
  display: inline-block;
  width: 430px;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 0;
}


.energy{
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}

.desktopEnergyDisplay{
  display: none;
}

.mobileEnergyDisplay{
  display: flex;
}

.workHeader{
  font-size: 22px;
}

.workText{
  font-size: 12px;
}

button{
  font-size: 13px;
}

.viewProject{
  width: 75%;
}

img{
  width: 300px;
}
*/



