.bg-light{
    background-color:white !important;
}

.justify-content-end {
  -ms-flex-pack: end!important;
  justify-content: flex-end!important;
  margin:2%;
  margin-left: auto;
  margin-right: 2%;
}

.nav-item{
    margin:15px;
}


ul{
    font-family: Karla;
}
.navbar-brand{
  margin-left: 2rem;
}


.heroContainer {
  background-image: url(../images/heroBackground.png);
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 170px;
  padding-bottom: 170px;
  margin-bottom: 25px;
  margin-top: 25px;
  margin-left: 20%;
  margin-right: 20%;
}

  #name{
      font-family: Karla;
      font-weight: bold;
      font-size: 39px;
      text-align: center;
  }

  #digDesign {
    font-family: Montserrat;
    font-weight: 200;
    font-size: 22px;
    text-align: center;
    margin-left: 25%;
}



.workSection{
  margin-bottom:100px;
}

.workHeader{
    font-Family: Karla;
}

.workText{
    font-family: Montserrat;
}

button {
    font-family: Karla;
    background-color: #EFE9A4;
    border: none;
    padding: 8px;
    padding-right: 20px;
    padding-left: 20px;
}

.display{
  margin-top:5px;
}

#displayEnergydiv{
  margin-top:5px;
}

.wri {
  display: flex;
  flex-direction: row;
  margin-left: 15%;
  margin-top: 130px;
  margin-right: auto;
}

img {
    border-style: none;
    width: 380px;
    margin: 0;
    
}

.energy{
  display: flex;
  flex-direction: row;
  margin-left: 15%;
  margin-top: 130px;
  margin-right:auto;
}

.desktopEnergyDisplay{
  display: block;
}

.mobileEnergyDisplay{
  display: none;
}

.blossom {
  display: flex;
  flex-direction: row;
  margin-left: 15%;
  margin-top: 190px;
  margin-right: auto;
  align-items: baseline;
}

.workLeftText {
  display: inline-block;
  width: 430px;
  margin-top: 180px;
  padding-left: 2%;
  margin-left: 7%;
}

.workRightText {
  text-align: right;
  display: inline-block;
  width: 430px;
  height: inherit;
  margin-top: 165px;
  padding-right: 6%;
  margin-right: 5%;
}

#blossomText{
  padding-left: 3%;
  margin-left: 7%;
}





@media only screen and (max-width: 600px) {
  #name{
    font-family: Karla;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
  }

  .wri {
    display: flex;
    flex-direction: column;
    margin-top: 130px;
    margin-left: auto;
    margin-right: auto;
  }

  .display {
    margin-top: 5px;
    display: flex;
    margin-right: auto;
    margin-left: auto;
}

#displayEnergyDiv {
  margin-top: 5px;
  display: flex;
  margin-right: auto;
  margin-left: auto;
}

  .workLeftText {
    display: inline-block;
    width: 430px;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.blossom{
  display: flex;
  flex-direction: column;
  margin-right: auto;
  margin-left: auto;
}

.workRightText {
  display: inline-block;
  width: 430px;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 0;
}


.energy{
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}

.desktopEnergyDisplay{
  display: none;
}

.mobileEnergyDisplay{
  display: block;
}
}